@font-face {
  font-family: "Yeon_Sung";
  src: url("../fonts/Yeon_Sung/YeonSung-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Tasa_Orbiter";
  src: url("../fonts/TASA_Orbiter/static/TASAOrbiter-Bold.ttf");
  font-style: bold;
}

@font-face {
  font-family: "Tasa_Orbiter";
  src: url("../fonts/TASA_Orbiter/static/TASAOrbiter-Regular.ttf");
  font-style: light;
}

@font-face {
  font-family: "Tasa_Orbiter";
  src: url("../fonts/TASA_Orbiter/static/TASAOrbiter-Medium.ttf");
  font-style: medium;
}

/* fonts */
:root {
  --font-family-hero: "Yeon_Sung";
  --font-family-body: "Tasa_Orbiter";
  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-hero: 400;
}

h1 {
  font-family: var(--font-family-hero);
  font-weight: var(--font-weight-hero);
}

h2 {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-medium);
}

p {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-light);
}

/* farver */

:root {
  --color-bg: #f7f7f7;
  --color-blue: #1f3971;
  --color-red: #c91232;
  --color-black: #181a23;
  --color-grey: #838383;
}

.nav1 {
  display: flex;
  list-style: none;
}

.nav1 a {
  text-decoration: none;
  color: black;
}

.nav1 p {
  padding: 0 0.5em;
  margin: 0;
}

.nav2 {
  display: flex;
  list-style: none;
  gap: 2em;
}

.nav2 a {
  text-decoration: none;
  color: black;
}
.flex {
  display: flex;
  justify-content: end;
}

.flex2 {
  display: flex;
  gap: 1em;
  margin-left: 1em;
}

.logo {
  width: 17%;
  margin: auto 0;
}

header {
  margin-bottom: 1.5em;
}

.section1 {
  margin: 3em 2em 1em;
  background-color: #1f3971;
  color: white;
  padding-left: 1em;
  padding-top: 0.1px;
  padding-right: 1em;
  border-radius: 20px;
}

.figur {
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
}

.figur img {
  width: 30%;
  margin-bottom: 1em;
}

.figur button {
  width: 12em;
  height: 3em;
  transform: translateY(-15%);
  border-radius: 20px;
  border: 1.5px solid var(--color-red);
}

.card_title {
  background-color: var(--color-blue);
  border-radius: 20px;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 85%;
  margin: 0 auto;
  position: absolute;
  left: 7%;
  z-index: 10;
  transform: translateY(-50%);
}

.card_title p {
  margin: 0;
  display: flex;
  justify-content: center;
}

.card_title h3 {
  margin: 0;
  display: flex;
  justify-content: center;
}

.cards {
  width: 80%;
  margin: 0 auto;
}

.cards img {
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.margin {
  padding-top: 3em;
}

.provetime {
  padding: 1em;
  display: flex;
  justify-content: center;
}
