@font-face {
  font-family: "Yeon_Sung";
  src: url("../fonts/Yeon_Sung/YeonSung-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Tasa_Orbiter";
  src: url("../fonts/TASA_Orbiter/static/TASAOrbiter-Bold.ttf");
  font-style: bold;
}

@font-face {
  font-family: "Tasa_Orbiter";
  src: url("../fonts/TASA_Orbiter/static/TASAOrbiter-Regular.ttf");
  font-style: light;
}

@font-face {
  font-family: "Tasa_Orbiter";
  src: url("../fonts/TASA_Orbiter/static/TASAOrbiter-Medium.ttf");
  font-style: medium;
}

/* fonts */
:root {
  --font-family-hero: "Yeon_Sung";
  --font-family-body: "Tasa_Orbiter";
  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-hero: 400;
}

h1 {
  font-family: var(--font-family-hero);
  font-weight: var(--font-weight-hero);
}

h2 {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-bold);
}

h3,
label {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-medium);
}

p,
li {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-light);
}

/* farver */

:root {
  --color-bg: #f7f7f7;
  --color-blue: #1f3971;
  --color-red: #c91232;
  --color-black: #181a23;
  --color-grey: #838383;
}

/* Footer */
.mail {
  width: 7%;
  display: block;
  margin: 2em auto;
}

footer {
  margin: 2em;
  border-top: 2px solid black;
}

footer form {
  background-color: transparent;
  color: black;
  padding: 0;
  margin: 0;
  gap: 0;
}

.question {
  height: 200px;
}

:focus-visible {
  outline: 2px solid var(--color-grey);
  outline-offset: 2px;
}

footer button:hover {
  background: var(--color-grey);
}

footer button:active {
  scale: 0.98;
}

.error-message {
  display: none;
}
.form-group:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}

.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }

  .error-message {
    display: block;
  }
}

label:has(input) {
  display: flex;
  align-items: center;
  gap: 0.25rlh;
  justify-self: start;
}

.form-group {
  display: grid;
  gap: 0.5em;
  margin: 1em 0;
}

input {
  border: 1px solid #ccc;
  padding: 0.25rlh;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
  background-color: #fff;
}

footer button {
  border: none;
  border-radius: 12px;
  padding: 0.25rlh 0.5rlh;
  cursor: pointer;
  height: 3em;
  width: 100%;
  margin: auto;
  font-weight: bolder;
  font-size: 1em;
  background-color: var(--color-blue);
  color: #fff;
}

.error-message {
  color: var(--color-red);
}

.placeholder {
  background-color: #fff;
  border-radius: 10px;
}
