/* main kan slettes er bare for at se  */
main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  row-gap: 1rem;
}
.blå_boks {
  background-color: var(--color-blue);
  color: var(--color-bg);
  border-radius: 20px;
}
p,
h2 {
  margin: 0.5em 1em 1em 1em;
  padding: 0.5em 1.5em 1em 1.5em;
}
img {
  max-width: 100%;
  height: auto;
}

main img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}
@media (max-width: 800px) {
  img {
    display: block;
    margin: 1em auto;
  }
}
@media (min-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    justify-content: center;
  }
}
